<!--Main-->
<div class="row main-section justify-content-center">
    <h1 class="title text-center whoosh">THE BEGINNING</h1>
</div>

<div class="container">
    <div class="row main-section">
        <div class="col-md-7 div-pad align-self-center">
            <h4 class="text-start about-text descript">Superbase was created by John Base. John Base was born on the 25th of July 1982. He had his first success in 2003 with his university newspaper "House". "House" was published every two weeks during the academic year, with a total of 36 issues. He majored in design, but failed to get a job in the field due to him being born without thumbs. This was a blow for him, and this is when he first got the idea for Superbase.</h4>
        </div>
        <div class="col-2"></div>
        <div class="col-md-3 text-end div-pad about-text">
            <div class="row"><img class="img-thumbnail img-fluid" src="img/elements/JohnBase.jpg" title="John Base" alt="John Base Photo"></div>
            <div class="row d-inline-flex base-container"><figcaption class="text-white blockquote-footer">John Base -2013</figcaption></div>
        </div>
    </div>
</div>

<div class="row h5 about-quote">
    <blockquote>"Oi! You don' have thumbs, mate. 'ow are you gonna draw buildings without them thumbs?"</blockquote>
    <figcaption class="text-white blockquote-footer">Someone with thumbs</figcaption>
</div>

<div class="container">
    <div class="row main-section">
        <div class="col-md-4 div-pad about-text">
            <div class="row"><img class="img-thumbnail img-fluid" src="img/elements/2014.jpg" title="San Fransisco 1835" alt="City"></div>
            <div class="row d-inline-flex base-container">
                <figcaption class="text-white blockquote-footer">Downtown Detroit -2017</figcaption>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-md-7 div-pad align-self-center"><h4 class="text-end about-text descript">Superbase was inspired on a nice summer evening in 1958. John Base was walking home after his shift at the horse-glue factory, when he witnessed an old lady chasing a crying man in a Baseball uniform while screaming. The sheer insanity of what he was witnessing was indescribable. How did this happen? Why did this happen? Why was this man wearing a baseball uniform? This prompted John to explore how a game can combine social immersion, baseballs, and a healthy amount of tears. </h4></div>
    </div>
</div>

<div class="row main-section justify-content-center">
    <h1 class="title text-center whoosh">THE GAME</h1>
</div>

<div class="row row-col-auto main-section">
    <div class="col-1"></div>
    <div class="col-md-10 text-center">
        <img class="img-fluid img-thumbnail" src="img/elements/rocket.png" title="Player narrowly escaping the homing missile" alt="Game">
    </div>
    <div class="col-1"></div>
</div>

<div class="container">
    <div class="row main-section">
        <h4 class="text-center descript">While Superbase might look like ordinary Baseball on the surface, it plays much quicker due to the homing missiles. The ball is dead, so it is the batter's objective to reach second base while shooting those missiles to reach home. Do not be surprised if the bullets find an unexpected route! The faster the team scores, the more damage they can do to their opponents. When the batter hit's a home run, he "gets away" with more danger. After his "stolen base", there are two more chances to reach home with more explosions.<br><br>Will the Superbase last until the last inning? Or will they be eaten by t͠͏̕h̶̴̢͟e҉͜҉ ̷̸̧͝d́҉a̢҉r̴̶͘͞k̷̷̨̢̕ ̵̸̀o͏̷̶͝n҉̨͡e͟͟͞͠ş̸̡͠ ?</h4>
    </div>
</div>

<div class="row main-section justify-content-center">
    <h1 class="title text-center whoosh">PLEASE HELP ME</h1>
</div>

<div class="container">
    <div class="row main-section text-center descript">
        <h4>They hired me as an intern to write the about page of the website. I'm not allowed to leave the office until I finish. I haven't seen the outside for days and I still don't know how this game is even played! I am not even sure John Base is even a real person, no one has ever seen the guy. His office is just a pitch black room. It's so dark, I can't even see where the room ends. The only image of him is weird. I think it's a generated image. I mean, look at the background! I'm just going to use an ai to write this page. I don't care anymore. I just want to see the sunlight again.</h4>
    </div>
</div>