<div class="row row-col-auto align-items-center flex-wrap-reverse me-0 main-section">
    <div class = "col-lg-2 sidebase"><div class="position-static">
            <div class="row row-col-2 text-center div-pad">
                <div class="col-md sidecontent">
                    <div class="row n-size">
                        <h4 class="">Last Game</h4>
                    </div>
                    <div class="row n-size">
                        <p> OH 15 | DC 7</p>
                    </div>
                </div>
                <div class="col-md sidecontent">
                    <div class="row">
                        <h4>Upcoming</h4>
                    </div>
                    <div class="row n-size">
                        <p>FL vs UT<br>WI vs NE</p>
                    </div>
                </div>
            </div></div>
    </div>
    <div class = "col-lg mainbase">
        <div class="container">
            <div class="row">
                <h1 class="text-center title">It's that time of year again!</h1>
            </div>
            <div class="row p-5">
                <div class="col d-inline-flex justify-content-center">
                    <div class="ratio ratio-16x9">
                        <iframe class="shadow-lg" src="https://www.youtube-nocookie.com/embed/wHr8NxA8raw?wmode=opaque&showinfo=0&autohide=1&controls=0&amp;start=5" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4 class="text-center descript">It's time to determine which zip code is best at hitting and throwing a white leather ball! Watch as these buff dudes run around in a diamond after they hit the ball! Super Bowl? Our league isn't clickbait! we don't have empty promises of better then average bowls. Only bases!</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-col-2 justify-content-center inbetweener main-section div-pad" id="rules">
    <div class = "col">
        <div class="container">
            <div class = "row">
                <div class="col-lg-5 align-self-center text-center rule-title">
                    <h1 class="title">THE RULES ARE SIMPLE</h1>
                </div>
                <div class="col-lg-7 align-items-center">
                    <div class="row align-items-center">
                        <div class="col da-rule">
                            <h4>Hit the ball</h4>
                        </div>
                        <div class="col da-pic">
                            <img style="width:96px;height:96px;" src="https://img.icons8.com/fluency-systems-regular/96/000000/baseball-player.png" alt="Player"/>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col da-rule">
                            <h4>Run to the base</h4>
                        </div>
                        <div class="col da-pic">
                            <img src="https://img.icons8.com/fluency-systems-regular/96/000000/running.png"/>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col da-rule">
                            <h4>Avoid the homing missile</h4>
                        </div>
                        <div class="col da-pic">
                            <img style="width:96px;height:96px;" src="https://img.icons8.com/fluency-systems-regular/96/000000/asteroid--v3.png" alt="Missile"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row main-section">
    <div class="row justify-content-center" id="invitation">
        <h1 class="text-center title whoosh">EXPERIENCE THE TERROR!</h1>
    </div>
    <div class="row row-col-auto mb-0 main-section">
        <div class="col-md-12 text-center">
            <img class="img-fluid img-thumbnail" id="TruckIMG" style="max-width:60vw;" src="img/elements/TheTerror.png" title="Player Making a Deadly Move" alt="Game">
        </div>
    </div>
    <div class="row main-section">
        <h4 class="text-center descript">Superbase is a fun game in person! It will hit on all of your emotional triggers such as exhilaration, aggression, frustration, and self-control.
        </h4>
    </div>

    <div class="row h5 about-quote main-section">
        <blockquote>"The action was intense! Definitely going to watch the next match with my Superbase Superball Superplush™"</blockquote>
        <figcaption class="text-white blockquote-footer">A totally real testimonial that we did not pay for</figcaption>
    </div>

    <div class="row main-section">
        <p><br><br>
            <small>*All profile pictures were generated via the AI <a href="https://this-person-does-not-exist.com/en">This Person Does Not Exist</a> and are not real individuals
                <br>*All team logos were generated via <a href="https://zyro.com/logo-maker">Zyro's Logo generator</a> and are not real logos
                <br>*The About section and Home section were partially generated via <a href="https://app.inferkit.com/demo">Talk To Transformer AI</a> with only small variations to keep in line with the baseball theme</small>
        </p>
        <a href="https://icons8.com/icon/RCJ51kxEGCe1/baseball-player">Baseball Player icon by Icons8</a>
        <a href="https://icons8.com/icon/3DvjCzkvOfti/running">Running icon by Icons8</a>
        <a href="https://icons8.com/icon/JtenbYqP75Ta/asteroid">Asteroid icon by Icons8</a>
    </div>
</div>