<!---------------CONTENT PAGE----------------->
<div class="tab-pane fade show active" id="<%=id%>" role="tabpanel">
    <div class="bg-image" id="<%=name%>_bg"></div>
    <%if(content){%>
    <div class="bg-dim"></div>
    <%}%>
    <!--Content-->
    <div class="container-fluid <%=classes%>" id="tab_content">
    </div>
</div>