<div class="row">
    <div class="col-xl-7">

        <div class="container main-section" id="container-TeamsPage"></div>
    </div>
    <div class="col-xl-5">
        <div class="container base-table" id="schedule">
            <div class="row main-section rule-title schedule-title-fix">
                <div class="table-responsive flex-grow-1">
                    <h1 class="fs-3 schedule-title">Schedule - Bracket II</h1>

                    <table class="table base-container" id="ScheduleTable">
                        <thead>
                        <tr class="text-center">
                            <th scope="col" colspan="2">Home</th>
                            <th scope="col" colspan="2">Away</th>
                            <th scope="col">Date</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <tr>
                            <th>FL</th>
                            <th>Greasy Humming Birds</th>
                            <th>UT</th>
                            <th>Venemous Gamers</th>
                            <th>4/14</th>
                        </tr>

                        <tr>
                            <th>WI</th>
                            <th>Forgetful Hamsters</th>
                            <th>NE</th>
                            <th>Witty Tadpols</th>
                            <th>4/18</th>
                        </tr>

                        <tr>
                            <th>NV</th>
                            <th>Spiky Lizards</th>
                            <th>MS</th>
                            <th>Hustlin' Dancers</th>
                            <th>4/21</th>
                        </tr>

                        <tr>
                            <th>CA</th>
                            <th>Naughty Raptors</th>
                            <th>NY</th>
                            <th>Skeleton Nets</th>
                            <th>5/9</th>
                        </tr>

                        <tr>
                            <th>ID</th>
                            <th>Exalted Waves</th>
                            <th>SD</th>
                            <th>Baby Hawks</th>
                            <th>5/10</th>
                        </tr>
                        <tr>
                            <th>ND</th>
                            <th>Polar Dawgs</th>
                            <th>NC</th>
                            <th>Psychodelic Eagles</th>
                            <th>5/11</th>
                        </tr>
                        <tr>
                            <th>OH</th>
                            <th>Gruesome Koalas</th>
                            <th>MN</th>
                            <th>Brisk Bullets</th>
                            <th>5/12</th>
                        </tr>
                        <tr>
                            <th>TN</th>
                            <th>Renowned Mavericks</th>
                            <th>OK</th>
                            <th>Lady Lions</th>
                            <th>12/19</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>